
@font-face {
    
}

body {
  background: purple;
  background-image: url("bcbk.png");
  background-repeat: repeat;
  background-position: center;
  height: 25%;
  width: 25%;
  text-align: center;
  margin:auto;
}


.header{

}